@font-face {
    font-family: 'ATC';
    src: url(fonts/ATC.otf);
}

@font-face {
    font-family: 'YS';
    src: url(fonts/YS.otf);
}

.toggle-button {
    position: fixed;
    right: 10px;
    bottom: 2.5%;
    cursor: pointer;
    z-index: 4;
    color: #000;
}

.social {
    position: absolute;
    bottom:2.5%;
    left:10%;
    z-index: 3;
    font-size:200%;
}

.button {
    outline: none;
    padding: 7px 15px;
    text-align: left;
    font-size: 150%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
     cursor: pointer;
     z-index: 4;
     background-color: transparent;
     border: none;
         -moz-text-fill-color: #fff;
  -webkit-text-fill-color: #fff;
     -moz-text-stroke-color: #000;
  -webkit-text-stroke-color: #000;
     -moz-text-stroke-width: 1.8px;  
  -webkit-text-stroke-width: 1.8px;

}

.overlay {
    position: fixed;
    z-index: 3;
   background-color: #0000ff;
    top: 0;
    right: 0;
    width: 50%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, width 1005s;
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    width:50%;

}
.overlay ul {
  /*  display: block;*/
    position: relative;
    top: 100px;
    left: 10%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 5.5vh;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.7;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}

.overlay ul li a:hover {
    letter-spacing: 20px;
}

.land {
    float: center;
    font-family: 'YS', Georgia, serif;
    font-size: 100%;
    display: inline-block;
    position: absolute;
    bottom:20%;
    text-align: left;
    padding: 0 10%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #fff;
}

.land a:hover {
    letter-spacing: 7px;
}


/*-----LG----- */
@media screen and (max-width: 1700px) {
.overlay ul {
    display: block;
    position: relative;
    top: 100px;
    left: 10%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.6;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}



}

/*-----MD----- */
@media screen and (max-width: 1440px) {
.overlay ul {
    display: block;
    position: relative;
    top: 100px;
    left: 6%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.4;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}
/*
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 50%;
    right: 50%;
    height: 1px;
    background: currentColor; // system color
    transition: all ease .2s;
  } */

.land {
    padding: 0 6%;
}
}


/*-----SM----- */

@media screen and (max-width: 1220px) {
.overlay ul {
    display: block;
    position: relative;
    top: 100px;
    left: 6%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.3;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}

.land {
    padding: 0 6%;
}
}

/*-----TABLET----- */
@media screen and (max-width: 1023px) {
.overlay ul {
    display: block;
    position: relative;
    top: 100px;
    left: 6%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.4;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}

.land {
    padding: 0 6%;
    font-size:2vw;
}

}

/*-----MOBILE-----*/
@media screen and (max-width: 667px) {


.toggle-button {
    position: fixed;
    bottom: 3%;
    right: 1%;
    cursor: pointer;
    z-index: 8;
}
.button {
    padding: 5px 10px;
    text-align: left;
    font-size: 5.5vw;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 8;
    -moz-text-fill-color: #fff;
  -webkit-text-fill-color: #fff;
     -moz-text-stroke-color: #000;
  -webkit-text-stroke-color: #000;
     -moz-text-stroke-width: 1.5px;  
  -webkit-text-stroke-width: 1.5px;

}

.social {
    position: absolute;
    bottom:0;
    left:6%;
    margin: 8px 15px 8px 0;
    z-index: 3;
}

.overlay {
    position: fixed;
    z-index: 7;
    /*background-image: linear-gradient(blue 30%, #ff6512 90%);*/
    background-color: #0000ff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
 /*   display: none;*/
    opacity: 0;*/
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.nav-active {
    opacity: 1;
  visibility: visible;
   /* display: block;*/
    height: 100%;
/*    max-height: 340px;*/
}

.overlay ul {
    display: block;
    position: relative;
    top: 14%;
    left: 6%;
    font-family: 'ATC', arial, serif;
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.4;
}
.overlay ul li {
    display: block;
}

.overlay ul li a {
    color: #fff;
    text-decoration: none;
      position: relative;
}

.overlay ul li a:hover {
    letter-spacing: 3px;
}


  .land {
    float: center;
    font-family: 'YS', Georgia, serif;
    color: #fff;
    font-size: 3.5vw;
    display: block;
    position: absolute;
    bottom:15%;
    text-align: left;
    padding: 0 6%;
    line-height: 1.4;
    letter-spacing: 0.5px;
    width:90%;
    margin: 0 auto;
}
}

@media screen and (max-width: 350px;) {
.land {
    font-size:2vw;
    }

.overlay ul {
    font-size:6vw;
    line-height: 1.3;
}
}
