@font-face {
	font-family: 'ATC';
	src: url(fonts/ATC.otf);
}

@font-face {
	font-family: 'YS';
	src: url(fonts/YS.otf);
}

* {
	padding: 0;
	margin: 0;
	cursor: cell;
}

::selection {
	color: #fff;
}


.wrapper {
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.left {
	grid-column: 1/2;
	grid-row: 1/2;
	/*background-color: #efefef;*/
	background-image: url(images/bg-texture.jpg);
	padding: 4% 10% 1% 5%;
	line-height: 1.4;
	color:#000;
	letter-spacing: 0.8px;
	z-index: 1;
}

.right {
	grid-column: 2/3;
	grid-row: 1/2;
	background-color:#0000ff;
	color: #efefef;
	padding: 4% 10% 1% 5%;
	line-height: 1.4;
	letter-spacing: 0.8px;
	z-index: 1;
	overflow: auto;
	height:100vh;
}

.info {
	font-family: 'YS', Times, serif;
	font-size:1.45vw;
	padding-bottom:4%;	
	z-index:20;
	display:none;
}

.copy {
		font-family: 'YS', Times, serif;
	font-size:1vw;
	padding-bottom:4%;	
	z-index:20;
}

.tagline { 
font-size:1.25vw;
font-family: 'ATC';
text-transform: uppercase }



ul {
	line-height: 2;
	font-size:1.6vw;
}

ul a {
	text-decoration: none;
	color: #000;
}

ul a:hover {
	letter-spacing: 15px;
	color: #0000ff;
}



.seal {
	z-index: 1;
	position: fixed;
	display:block;
	width: 33%;
	bottom: 19%;
	left:0;
	right:0;
	margin: 0 auto;
	  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

}

.mobile {
	display:none;
}

.atc-info {
	font-family: 'ATC', Arial, sans-serif;
	font-size: 1.4vw;
}




.ys {
	font-family: 'YS', Times, serif;
	font-size:5vw;
	vertical-align: baseline;
}

.contact {
		font-family: 'YS', Times, serif;
	font-size:1.5vw;
	text-decoration: underline;
	padding-bottom: 35%;
}

.contact a {
	text-decoration: none;
	color: #000;
}

.contact a:hover {
	text-decoration: none;
	color: #0000ff;
	letter-spacing: 7px;
}

.contact2 {
		font-family: 'YS', Times, serif;
	font-size:1.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	text-align: left;
}

.contact2 a {
	text-decoration: none;
	color: #efefef;
}

.contact2 a:hover {
	text-decoration: none;
	color: #000;
	letter-spacing: 7px;
}


.team-bio {
margin-top: 10%;
margin-bottom:10%;
margin-right:0%;
}

.team-photo {
	float:left;
	z-index: 0;
	margin-right:-12%;
}

.team-photo img {
	width: 70%;
}

.team-bio p {
	overflow: hidden;
	font-size:0.95vw;
	font-family: 'YS', Times, Serif;
	line-height:1.4;
}

.team-bio a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}


.partners {
margin-top:7%;
}

.partners p {
	font-size:0.95vw;
	font-family: 'YS', Times, Serif;
	line-height:1.4;
}


.funders { 
font-size:1.25vw;
font-family: 'ATC';
text-transform: uppercase;
margin-top:10%; }


.logos {
 text-align: center;
 margin-top:2%;
}


.logoimg {
  width: 100%;
    max-width: 400px;
    height: auto;
    display: inline-block;
    margin-right:1%;
}



/*cursor*/

[class*='parrot'] {
  position: absolute;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parrot-1 {
  background-image: url(images/cursor.svg);
  z-index: 100;
}

.parrot-2 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-3 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-4 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-5 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-6 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-7 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-8 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-9 {
  background-image: url(images/cursor.svg); 
  z-index: 100;
}

.parrot-10 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-11 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-12 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

@media screen and (max-width: 1700px) {
	.info {
	font-family: 'YS', Times, serif;
	font-size:1.5vw;
	padding-bottom:6%;
	
}

.atc-info {
	font-family: 'ATC', Arial, sans-serif;
	font-size: 1.5vw;
}

.left {
	padding: 4% 10% 4% 5%;

}

.right {
	padding: 4% 10% 4% 5%;
}

}

@media screen and (max-width: 1023px) {
.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	}

.left {
	grid-column: 1/2;
	grid-row:1/2;
	padding: 0;
}

.right {
	grid-column: 1/2;
	grid-row:2/3;
	padding:0;
	overflow:visible;
	height:100%;
}

.info {
	display:none;
	
}

.copy {
	display:none;
}

.tagline {
	font-size:4.5vw;
	padding-left: 6%;
}

.team-info {
	margin-top: 10%;
}

.team-bio {
margin-top: 10%;
}

.team-photo {
	float:none;
	z-index: 0;
	margin-right:0;
}

.team-photo img {
	width: 100%;

}

.team-bio p {
	overflow: hidden;
	font-size:4.5vw;
	font-family: 'YS', Times, Serif;
	line-height:1.4;
	letter-spacing: 0.5px;
	padding: 8% 10% 0% 6%;

}

.partners {
margin-top:7%;
}

.partners p {
	font-size:4.5vw;
	font-family: 'YS', Times, Serif;
	line-height:1.4;
	padding: 8% 10% 0% 6%;
}

.funders {
	font-size:4.5vw;
	padding-left: 6%;
	margin-top:10%;
	font-family: 'ATC', Arial, sans-serif;
}

.atc-info {
	font-family: 'ATC', Arial, sans-serif;
	font-size: 4vw;
}

.ys {
	font-family: 'YS', Times, serif;
	font-size:10vw;
	vertical-align: baseline;
}



.contact {
		font-family: 'YS', Times, serif;
	font-size:4.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	padding: 3% 10% 13% 6%;
	display:none;
}

.contact2 {
		font-family: 'YS', Times, serif;
	font-size:4.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	padding: 3% 10% 13% 6%;
}

.seal {
	display: none;
}

.mobile {
	display: inline-block;
	position: relative;
	font-family: 'YS', Times, serif;
	font-size:4.5vw;
	margin-bottom:10%;
}

.mobile-info {
	display:block;
	margin-top:15%;
	padding: 3% 10% 5% 6%;
	line-height: 1.3;
	letter-spacing: 0.5px;
}

.mobile-seal img {
	display:block;
	width: 70%;
	margin: 0 auto;
	  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

}
}

.mobile-seal {
	margin: 10% auto;
}

.mobile-seal2 {
	display:none;
}

.mobile-seal .mobile-apply {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left:0;
	right:0;
	text-align:center;
	top:15%;

}

.mobile-seal .mobile-apply2 {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left:0;
	right:0;
	text-align:center;
	bottom:12%;
}

.mobile-apply {
	display:block;
	font-family: 'ATC', Arial, sans-serif;
	font-size:14vw;
	padding-bottom: 8%;
	display:none;
}

.mobile-apply a {
	text-decoration: none;
	color: #0000ff;
}


.mobile-apply2 {
	display: inline-block;
	position: relative;
	font-family: 'ATC', Arial, sans-serif;
	font-size:14vw;
	padding-bottom: 8%;
	display:none;
}

.mobile-apply2 a {
	text-decoration: none;
	color: #efefef;
}

.logos {
 text-align: center;
 margin-top:2%;
}


.logoimg {
  width: 80%;
    max-width: 300px;
    height: auto;
    display: inline-block;
    margin-top:10%;
}

.logoimg2 {
  width: 80%;
    max-width: 300px;
    height: auto;
    display: inline-block;
    margin-top:10%;
    margin-bottom:5%;
}
}

