@font-face {
	font-family: 'ATC';
	src: url(fonts/ATC.otf);
}

@font-face {
	font-family: 'YS';
	src: url(fonts/YS.otf);
}

* {
	padding: 0;
	margin: 0;
	cursor: cell;
}

::selection {
	color: #fff;
}


.wrapper {
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.left {
	grid-column: 1/2;
	grid-row: 1/2;
	/*background-color: #efefef;*/
	background-image: url(images/bg-texture.jpg);
	padding: 4% 13% 5% 5%;
	line-height: 1.4;
	color:#000;
	letter-spacing: 0.8px;
	z-index: 1;
}

.right {
	grid-column: 2/3;
	grid-row: 1/2;
	background-color:#0000ff;
	color: #efefef;
	padding: 4% 13% 5% 5%;
	line-height: 1.4;
	letter-spacing: 0.8px;
	z-index: 1;
}

.info {
	font-family: 'YS', Times, serif;
	font-size:1.5vw;
	padding-bottom:7%;
	
}

.info2 {
	font-family: 'YS', Times, serif;
	font-size:1.5vw;
	padding-bottom:7%;
	text-align: left;
	
}

.seal {
	z-index: -1;
	position: fixed;
	display:block;
	width: 33%;
	bottom: 17%;
	left:0;
	right:0;
	margin: 0 auto;
	  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

}

.mobile {
	display:none;
}

.atc-info {
	font-family: 'ATC', Arial, sans-serif;
	font-size: 1.5vw;
}

.apply {
	font-family: 'ATC', Arial, sans-serif;
	font-size:4vw;
	padding-bottom: 8%;
	z-index: 10;
}

.apply a {
	text-decoration: none;
	color: #000;
}

.apply a:hover {
	text-decoration: none;
	letter-spacing: 30px;
	color: #0000ff;
	font-family: 'YS', Times, serif;
}

.apply2 {
	font-family: 'ATC', Arial, sans-serif;
	font-size:4vw;
	padding-bottom: 8%;
	z-index: 10;
	text-align: left;
}

.apply2 a {
	text-decoration: none;
	color: #efefef;
}

.apply2 a:hover {
	text-decoration: none;
	letter-spacing: 30px;
	color: #000;
	font-family: 'YS', Times, serif;
}



.ys {
	font-family: 'YS', Times, serif;
	font-size:5vw;
	vertical-align: baseline;
}

.contact {
		font-family: 'YS', Times, serif;
	font-size:1.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
}

.contact a {
	text-decoration: none;
	color: #000;
}

.contact a:hover {
	text-decoration: none;
	color: #0000ff;
}

.contact2 {
		font-family: 'YS', Times, serif;
	font-size:1.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	text-align: left;
}

.contact2 a {
	text-decoration: none;
	color: #efefef;
}

.contact2 a:hover {
	text-decoration: none;
	color: #000;
}
/*cursor*/

[class*='parrot'] {
  position: absolute;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parrot-1 {
  background-image: url(images/cursor.svg);
  z-index: 100;
}

.parrot-2 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-3 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-4 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-5 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-6 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-7 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-8 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-9 {
  background-image: url(images/cursor.svg); 
  z-index: 100;
}

.parrot-10 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-11 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

.parrot-12 {
  background-image: url(images/cursor.svg);
   z-index: 100;
}

@media screen and (max-width: 1023px) {
.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	}

.left {
	grid-column: 1/2;
	grid-row:1/2;
	padding: 0;
}

.right {
	grid-column: 1/2;
	grid-row:2/3;
	padding:0;
}

.info {
	display:none;
	
}

.info2 {
	display:none;
}

.atc-info {
	font-family: 'ATC', Arial, sans-serif;
	font-size: 4vw;
}

.ys {
	font-family: 'YS', Times, serif;
	font-size:10vw;
	vertical-align: baseline;
}

.apply {
	display:none;
}

.apply2 {
	display:none;
	font-family: 'ATC', Arial, sans-serif;
	font-size:10vw;
	padding-bottom: 8%;
}

.contact {
		font-family: 'YS', Times, serif;
	font-size:4.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	padding: 3% 10% 13% 6%;
}

.contact2 {
		font-family: 'YS', Times, serif;
	font-size:4.5vw;
	text-decoration: underline;
	padding-bottom: 10%;
	padding: 3% 10% 13% 6%;
}

.seal {
	display: none;
}

.mobile {
	display: inline-block;
	position: relative;
	font-family: 'YS', Times, serif;
	font-size:4.5vw;
}

.mobile-info {
	display:block;
	margin-top:15%;
	padding: 3% 10% 5% 6%;
	line-height: 1.7;
	letter-spacing: 0.5px;
}

.mobile-seal img {
	display:block;
	width: 70%;
	margin: 0 auto;
	  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

}
}

.mobile-seal {
	margin: 10% auto;
}

.mobile-seal .mobile-apply {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left:0;
	right:0;
	text-align:center;
	top:13%;
}

.mobile-seal .mobile-apply2 {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left:0;
	right:0;
	text-align:center;
	bottom:10%;
}

.mobile-apply {
	display:block;
	font-family: 'ATC', Arial, sans-serif;
	font-size:14vw;
	padding-bottom: 8%;
}

.mobile-apply a {
	text-decoration: none;
	color: #0000ff;
}


.mobile-apply2 {
	display: inline-block;
	position: relative;
	font-family: 'ATC', Arial, sans-serif;
	font-size:14vw;
	padding-bottom: 8%;
}

.mobile-apply2 a {
	text-decoration: none;
	color: #efefef;
}


}

