body {
  /*background-color: #000;*/
 background: url("http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=57&opacity=26")


}

::selection {
    color: black; 
    background: #ff6512;
}

@font-face {
    font-family: ATCDuel;
    src: url(fonts/ATCDuel.otf);
}

@font-face {
    font-family: Bagnard;
    src: url(fonts/Bagnard.otf);
}


* {
  padding: 0;
  margin: 0;
}

header {
  z-index: 9999;
}

canvas {
  display: block;
  position: fixed;
  top: 0%;
  right: 0;
  z-index: -9999;
}




.grid {
  z-index: -2;
  display: grid;
  color: #fff;
  font-family: 'ATCDuel',arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "title nav"
  "content content3"
  "content2 content2"
}

.grid2 {
  display: grid;
  z-index: -2;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "title title"
  "content content"
  "content2 content2"
  "content3 content3"
  "content4 content4"
}

.title {
  grid-area: title;
  }

.nav 
{
  grid-area: nav;
}


.content {
  grid-area: content;
  font-family: 'ATCDuel', arial, sans-serif;
  font-size:7vh;
  letter-spacing: 2px;
  text-align:left;
  width:70%;
/*  font-weight:bold;*/
  padding: 0 0px;
  z-index: 0;

}


.content2 {
  grid-area: content2;
  text-align: left;
  background-color:transparent;
  line-height:1.5;
  background: transparent;
overflow: hidden;
width:100%;
z-index: 0;
}


.content3 {
  grid-area:content3;
  font-family: Bagnard, Georgia, serif;
  margin:0%;
  z-index: 0;
}

.content4 {
  grid-area:content4;
  font-family: Bagnard, Georgia, serif;
  margin:0%;
  z-index: 0;
}

h1 {
  font-family:Bagnard, Georgia, serif;
  font-size:1.2vw;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 7%;
}

h3{
  font-family:Bagnard, Georgia, serif;
  font-size:1.2vw;
  letter-spacing: 3px;
  line-height: 1.5;
  outline:none;
  padding: 20px 30px 15px 30px;
  color:#000;
  background-color:#fff;
  border: 1px solid #000;
  border: double;
  cursor: pointer;
}

/*p {
  padding: 5px 30px;
  background-color:#fff;
}*/

.accordion {
  text-decoration: underline;
  color: #000;
  display: inline-block;
}



.accordioncontent {
  color: #000;
}

/*.programdate {
  font-family:'Bagnard', Georgia, serif; 
  font-size:1.5vw; 
  color: #fff;
  text-align: left;
  padding: 15px 30px;
  line-height: 1.3;
  letter-spacing: 2px;

}*/

#accordion {
font-size:1vw;
line-height: 1.5;
margin-top:1%;
margin-bottom:7%;
}

.artistbio {
  font-size:0.9vw;

}

.address {
  font-size:1vw;
  line-height: 2;

}

/*.about {
  font-family: 'Bagnard', Georgia, serif;
  font-size:100%;
  text-align: center;
  padding: 20px;
}*/


.circle { 
  position: relative; 
  width: 100%; 
  font-size: 200%;
  overflow: hidden; 
}

.circle text 
{ 
  font-family: 'Bagnard', Georgia, serif; 
  font-size: 95%; 
  font-weight: bold; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -25%; top: -5%; width: 70%; height: 440px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.verticaltext {
  transform: rotate(360deg);
    position: absolute;
    transform-origin: left bottom 0;
    font-size:190%;
    top:24%;
    left:3%;
}

.verticaltext2 {
  transform:  rotate(360deg);
    position: absolute;
    transform-origin: left top 0;
    font-size:190%;
    top:38%;
    left:3%;
    line-height: 1;
}

.outline  {-moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
     -moz-text-stroke-color: #fff;
  -webkit-text-stroke-color: #fff;
     -moz-text-stroke-width: 2px;  
  -webkit-text-stroke-width: 2px;

}

.marquee-top {
  overflow: hidden;
  position: fixed;
  bottom: 65px;
  width:100%;
  font-size:200%;
  z-index: 1;
}

.marquee-bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size:200%;
  font-family: 'ATCDuel', arial, sans-serif;
   z-index: 1;
}

.instructions {
  float:right;
}

#instructions {
  display:block;
  font-size:100%;
  font-family: Bagnard, Georgia, serif;
  border-style: double;
  box-shadow:5px 8px;
  padding: 7px 10px;
  margin-top:100px;
  margin-left:20px;
  width:50%;
  line-height: 1.5;
  text-align:left;
letter-spacing: 2px;
margin-left: 40px;
text-decoration: none;
color: #fff;
}

.mesh {
  padding-left:93px;
}

/*ABOUT*/


.toptitle {
   font-family: 'ATCDuel', arial, sans-serif;
  text-align:center;
  font-size:4vw;
  padding: 10px 20px;
  text-shadow: 10px -7px #0000ff;
  letter-spacing: 2px;
  margin-top:5%;
}

.pagetitle {
  font-family: 'ATCDuel', arial, sans-serif;
  text-align:center;
  font-size:4vw;
  padding: 10px 20px;
  text-shadow: 10px -7px #0000ff;
  letter-spacing: 2px;
  margin-top:3%;
}

.stafftitle {
  font-family: 'ATCDuel', arial, sans-serif;
  text-align:center;
  font-size:4vw;
  padding: 10px 20px;
  text-shadow: 10px -7px #0000ff;
  letter-spacing: 2px;
  margin-top:3%;
}

.subtitle {
  font-family: 'ATCDuel', arial, sans-serif;
  font-size:1.5vw;
  color: blue;
  text-align:left;
}
.mission {
  font-family:'Bagnard', Georgia, serif; 
  font-size:1.5vw; 
  color: #000;
  text-align: left;
  padding: 20px 100px;
  line-height: 1.3;
  border-style: double;
  box-shadow:5px 8px #fff;
  width:70%;
  background-color:white;
  margin: auto;
  margin-top:7%;

}

.aboutinfo {
    font-family:Bagnard, Georgia, serif; 
    font-size:1vw;
    padding: 20px 100px;
    width:70%;
    margin: 3% auto;
    font-weight: bold;
    letter-spacing: 2px;
}

.bio {
  font-family:Bagnard, Georgia, serif; 
    font-size: 1vw;
    padding: 20px 100px;
    width:70%;
    line-height: 1.5;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top:2%;
}

.invitation {
  font-family:Bagnard, Georgia, serif; 
    font-size: 1vw;
    padding: 20px 100px;
    width:80%;
    line-height: 1.5;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
}

.location {
  margin-bottom:10%;
}
.producers {
  font-family:ATCDuel, arial, serif; 
  color:#fff;
  text-shadow: 4px 4px 2px #4b00df;
  font-size:1.2vw
}

.press {
  font-family:Bagnard, Georgia, serif; 
    font-size: 1vw;
    padding: 20px 100px;
    width:70%;
    line-height: 1.5;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom:10%;
}


.press a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.press a:hover {
  transform: skew(-10deg);
}

.bio a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.bio a:hover {
  transform: skew(-10deg);
}
.panel{
font-size:0.8vw}

.row {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}
.row2 {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}

.logos {
 text-align: center;
 margin-top:2%;
}


.logoimg {
  width: 100%;
    max-width: 400px;
    height: auto;
    display: inline-block;
    margin-right:1%;
}

.filminfo {
  font-size:0.8vw;
  line-height: 1;
}
.map {
  overflow: hidden;
  width:100%;
}

.spaceafter {
  margin-bottom:8%;
}

}
/*
.producercontainer {
    margin: 20px 20px 0 0; 
    overflow: auto
    width:100%;
    height: auto;
}

.producerimg {
  margin-left:2%;
float:left; 
height:20%;
width:20%; 
}

.producerbio {
 margin-left: 10px;
}

}*/

/*-----LG----- */
@media screen and (max-width: 1700px) {

#instructions {
  width:40%;
}.verticaltext {
  text-align: left;
  top:33%;
  font-size:150%;
}

.verticaltext2 {
  text-align: left;
  top:45%;
  font-size:150%;
}

}

/*-----MD----- */
@media screen and (max-width: 1440px) {

#instructions {
  width:45%;
}
.verticaltext {
  text-align: left;
  top:33%;
  font-size:150%;
}

.verticaltext2 {
  text-align: left;
  top:45%;
  font-size:150%;
}
}

/*-----SM----- */
@media screen and (max-width: 1220px) {

#instructions {
  width:55%;
}


.verticaltext {
  text-align: left;
  top:33%;
  font-size:150%;
}

.verticaltext2 {
  text-align: left;
  top:45%;
  font-size:150%;
}
}


/*-----XS----- */
@media screen and (max-width: 1024px) {


.marquee-top {
  overflow: hidden;
  position: fixed;
  bottom: 40px;
  width:100%;
  font-size:100%;
  z-index: -1;
}

.marquee-bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size:100%;
   z-index: 1;
}


.circle { position: relative; width: 100%; overflow: hidden; font-size:130%;}

.circle text { font-family: 'Bagnard', Georgia, serif; font-size: 100%; font-weight: bold; letter-spacing: 2px;}

.circle svg { position: fixed; right: -5%; top: -15%; width: 30%; height: 420px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.title {
  display: none;
}

#instructions {
  display:none;
}

.verticaltext {
  text-align: left;
  top:39%;
}

.verticaltext2 {
  text-align: left;
  top:50%;
}

.invitation { font-family:Bagnard, Georgia, serif; 
    font-size: 1.9vw;
    padding: 20px 0px;
    width:85%;
    line-height: 1.2;
    margin: auto;
    letter-spacing: 1px;
    text-align: left;
    margin-top:5%;
  text-align:center;
  font-style:italic;
}

.mission {
  font-family:'Bagnard', Georgia, serif; 
  font-size:1.5vw; 
  color: #000;
  text-align: left;
  padding: 20px 20px;
  line-height: 1.5;
  border-style: double;
  box-shadow:5px 8px #fff;
  width:80%;
  background-color:white;
  margin: auto;
  margin-top:15%;
  overflow:hidden;
  letter-spacing: 1.5px;

}
}



/*-----TABLET----- */
@media screen and (max-width: 768px) {

h3{
  font-family:Bagnard, Georgia, serif;
  font-size:1.7vw;
  letter-spacing: 1.5px;
  line-height: 1.5;
  outline:none;
  padding: 15px 20px 15px 20px;
  color:#000;
  background-color:#fff;
  border: 1px solid #000;
  border: double;
}

p {
  font-size:1.5vw;
  letter-spacing: 0px;
}

.invitation { font-family:Bagnard, Georgia, serif; 
    font-size: 1.6vw;
    padding: 20px 0px;
    width:85%;
    line-height: 1.2;
    margin: auto;
    letter-spacing: 1px;
    text-align: center;
    margin-top:5%;
  font-style:italic;
}

.bio {
  font-family:Bagnard, Georgia, serif; 
    font-size: 1.7vw;
    padding: 20px 0px;
    width:80%;
    line-height: 1.5;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-top:5%;
  }

  .aboutinfo {
    font-family:Bagnard, Georgia, serif; 
    font-size:1.7vw;
    padding: 20px 0px;
    width:80%;
    margin: 3% auto;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 1px;
}

.press {
  font-family:Bagnard, Georgia, serif; 
    font-size: 1.7vw;
    padding: 20px 0px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom:15%;
    width:80%;
}
.mission {
  font-family:'Bagnard', Georgia, serif; 
  font-size:2vw; 
  color: #000;
  text-align: left;
  padding: 20px 30px;
  line-height: 1.5;
  border-style: double;
  box-shadow:5px 8px #fff;
  width:80%;
  background-color:white;
  margin: auto;
  margin-top:15%;
  overflow:hidden;
  letter-spacing: 1.5px;

}
.panel {
  font-size:1.1vw;
  line-height:0;
}
.toptitle {
   font-family: 'ATCDuel', arial, sans-serif;
  text-align:center;
  font-size:4vw;
  padding: 0px 30px;
  text-shadow: 8px -5px #0000ff;
  letter-spacing: 2px;
  margin-top:15%;
}
}
/*-----MOBILE-----*/
@media screen and (max-width: 667px)
{

  .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "title title"
  "content content"
  "content3 content3"
  "content2 content2";
    font-family: 'ATCDuel',arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    grid-auto-rows: auto);
grid-row-gap: 1em;
overflow-x: hidden;
}

.title {
grid-area: title;
font-size:7vw;
font-weight: bold;
letter-spacing: 2px;
text-align:center;
}

.title a{
  text-decoration: none;
color: #000;
}

.content {
  font-size:4vh;
  padding: 0 0px;
  text-align:left;
  overflow: hidden;
  z-index: 0;
}

.content2 {
  padding: 0 0px;
  text-align: center;
  z-index: 0;
}


.content3 {
  grid-area: content3;
  font-family:Bagnard, serif;
  font-size:200%;
  float:right;
  margin: 0%;
  z-index: 0;

}

.outline  {-moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
     -moz-text-stroke-color: #fff;
  -webkit-text-stroke-color: #fff;
     -moz-text-stroke-width: 2px;  
  -webkit-text-stroke-width: 2px;

}

.verticaltext {
  text-align: left;
  top:48%;
  left:7%;
}

.verticaltext2 {
  text-align: left;
  top:55%;
  left:7%;
}

.marquee-top {
  overflow: hidden;
  position: fixed;
  bottom: 40px;
  width:100%;
  font-size:70%;
   z-index: 5;
}

.marquee-bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size:70%;
   z-index: 5;
}






.circle { position: relative; width: 100%; overflow: hidden; font-size:100%; }

.circle text { font-family: 'Bagnard', Georgia, serif; font-size: 90%; font-weight: bold; letter-spacing: 2px;}

.circle svg { position: fixed; right: -5%; top: -19%; width: 50%; height: 420px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.title {
  display: block;
 /* padding-bottom: 10%;*/
}

#instructions {
  display:none;
}

/*ABOUT*/

.toptitle {
   font-family: 'ATCDuel', arial, sans-serif;
  text-align:left;
  font-size:7vw;
  padding: 0px 30px;
  text-shadow: 8px -5px #0000ff;
  letter-spacing: 2px;
  margin-top:28%;
}

.pagetitle {
  font-family: 'ATCDuel', arial, sans-serif;
  text-align:left;
  font-size:7vw;
  padding: 0px 30px;
  text-shadow: 8px -5px #0000ff;
  letter-spacing: 2px;
  margin-top:5%;
}

.stafftitle {
  font-family: 'ATCDuel', arial, sans-serif;
  text-align:left;
  font-size:6.9vw;
  padding: 0px 0px;
  text-shadow: 8px -5px #0000ff;
  letter-spacing: 2px;
  margin-top:5%;
}

.staff {
  font-family:Bagnard, Georgia, serif; 
    font-size: 3.5vw;
    padding: 20px 0px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-top:5%;
}

.subtitle {
  font-family: 'ATCDuel', arial, sans-serif;
  font-size:4vw;
  color: blue;
  text-align:left;
  letter-spacing: 1.5px;
}
.mission {
  font-family:'Bagnard', Georgia, serif; 
  font-size:4vw; 
  color: #000;
  text-align: left;
  padding: 20px 10px;
  line-height: 1.5;
  border-style: double;
  box-shadow:5px 8px #fff;
  width:70%;
  background-color:white;
  margin: auto;
  margin-top:25%;
  overflow:hidden;
  letter-spacing: 1.5px;

}

.aboutinfo {
    font-family:Bagnard, Georgia, serif; 
    font-size:3.5vw;
    padding: 20px 0px;
    width:80%;
    margin: 3% auto;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 1px;
}

.invitation { font-family:Bagnard, Georgia, serif; 
    font-size: 3vw;
    padding: 20px 0px;
    width:85%;
    line-height: 1.2;
    margin: auto;
    letter-spacing: 1px;
    text-align: left;
    margin-top:5%;
  text-align:left;
  font-style:italic;
}

.bio {
  font-family:Bagnard, Georgia, serif; 
    font-size: 4vw;
    padding: 20px 0px;
    width:80%;
    line-height: 1.5;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-top:5%;
  }

.producers {
  font-family:ATCDuel, arial, serif; 
  color:white;
  font-size:4vw;
  letter-spacing: 1px;
}

.press {
  font-family:Bagnard, Georgia, serif; 
    font-size: 3.5vw;
    padding: 20px 0px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom:15%;
    width:80%;

}
.panel {
  font-size:3vw;
  line-height:1.2;
}
.row  {
   -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}

.row2  {
   -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}

.logos {
 text-align: center;
 margin-top:2%;
}


.logoimg {
  width: 80%;
    max-width: 300px;
    height: auto;
    display: inline-block;
    margin-top:10%;
}

.logoimg2 {
  width: 80%;
    max-width: 300px;
    height: auto;
    display: inline-block;
    margin-top:10%;
    margin-bottom:5%;
}

.screenshot {
  font-size:5vw;
}

.artistname {
  font-size: 5vw;
}

.artistbio {
  font-size:3.5vw;

}

.address {
  font-size:2.5vw;

}

#accordion {
  margin-top:7%;
  margin-bottom: 10%;
}

h3{
  font-family:Bagnard, Georgia, serif;
  font-size:4vw;
  letter-spacing: 1.5px;
  line-height: 1.5;
  outline:none;
  padding: 15px 20px 15px 20px;
  color:#000;
  background-color:#fff;
  border: 1px solid #000;
  border: double;
}

p {
  font-size:3.5vw;
  letter-spacing: 0px;
}

.filminfo {
  font-size:3vw;
  line-height: 1;
}

.map {
  overflow: hidden;
  width:100%;
}

